[Unit]
Description=RustDedicated Game Server
After=network.target

[Service]
User=rust
ExecStart=bash /home/rust/scripts/start.sh
Restart=always
RestartSec=3
ExecStartPre=bash /home/rust/scripts/prestart.sh

[Install]
WantedBy=default.target
