[Unit]
Description=RustDedicated Game Server
After=network.target

[Service]
User=rust
WorkingDirectory=/home/rust/.local/share/Steam/steamapps/common/rust_dedicated
ExecStart=bash /home/rust/.local/share/Steam/steamapps/common/rust_dedicated/runds.sh
Restart=always
RestartSec=3
ExecStartPre=bash /home/rust/scripts/start.sh

[Install]
WantedBy=default.target
