[Unit]
Description=Rust
After=network.target

[Service]
ExecStart=/home/rust/rds-manager
Restart=always
KillMode=process
User=rust
Group=rust
WorkingDirectory=/home/rust

[Install]
WantedBy=default.target
