# config docs: https://developer.valvesoftware.com/wiki/Rust_Dedicated_Server (accessed 3 Dec 2023)

# --- general stuff ---
server.seed 112233
server.worldsize 4500
server.maxplayers 10
server.port 28015

# --- identity ---
# server.hostname "Name of the server here"
# server.description "Welcome"
# server.tags "vanilla,weekly"
# server.url "http://example.com"

# --- RCON ---
# rcon.port 28016
# rcon.web 1
# rcon.password "RCON password here"

# --- secure RCON ---
# rcon.ssl "/etc/ssl/websocket_cert.pfx"
# rcon.sslpwd "PFX container password here"
